*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 50%; }
  @media (min-width: 36em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 48em) {
    html {
      font-size: 62.5%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }

::selection {
  background-color: #064acb;
  color: #fff; }

body {
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #1a1a1a;
  background-color: #fcfcfc; }

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 300;
  line-height: 1.8;
  text-transform: uppercase;
  padding: 1.2rem 0;
  color: #1a1a1a; }

.heading-primary {
  font-size: 3rem; }

.heading-secondary {
  font-size: 2.5rem; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5; }

.text-center {
  text-align: center !important; }

.mt-8 {
  margin-top: 8rem !important; }

.mb-8 {
  margin-bottom: 8rem !important; }

.mb-4 {
  margin-bottom: 3.5rem !important; }

.mb-2 {
  margin-bottom: 1.5rem !important; }

.btn {
  font-size: 1.6rem; }
  .btn-primary {
    background-color: #064acb;
    border: 0;
    outline: none;
    transition: all .3s; }
    .btn-primary:hover {
      transform: translateY(-0.4rem) scale(1.01); }
    .btn-primary:focus, .btn-primary:active {
      transform: translateY(0); }
    .btn-primary--exam {
      padding: 1rem 2rem;
      border-radius: 100px;
      background: linear-gradient(to left, #064acb, #36aad8) !important;
      width: 16rem;
      display: inline-flex;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      color: #fff; }

.form {
  display: block; }

.header {
  display: block; }

#app {
  position: relative; }

nav.app-top {
  position: fixed;
  display: block;
  width: 100%;
  height: 7rem;
  top: 0;
  left: 0;
  z-index: 3; }

nav.app-top.app-top--white {
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

.app-brand {
  display: block;
  padding: 1rem;
  max-width: 10rem;
  height: 100%;
  margin-left: auto;
  text-align: right; }

.app-brand .brand-img {
  max-width: 100%;
  height: auto; }

.content-wrapper {
  display: block;
  margin-top: 7rem; }

.sidebar {
  width: 30rem;
  background-color: #fff;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.15);
  height: calc(100vh - 7rem);
  margin-top: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0; }

.sidebar .sidebar-header {
  padding: 2rem;
  text-align: center; }

.sidebar .sidebar-header .sidebar-title {
  font-size: 1.8rem;
  color: #1a1a1a;
  font-weight: 400; }

.sidebar-menu {
  padding: 0; }

.sidebar-menu ul li a {
  padding: 2rem;
  color: #666666;
  text-transform: capitalize;
  transition: all .3s; }

.sidebar-menu ul li a:hover {
  background-color: #e6e6e6; }

.sidebar-menu ul li a.active {
  background-color: #e6e6e6;
  border-left: 5px solid #064acb; }

.main-content {
  margin-left: 32rem;
  padding: 1rem 3rem; }

.subject-selection {
  margin-top: 2rem;
  padding: 0 3rem; }

.subject-selection-category {
  background-color: #fff;
  border-radius: 5px; }

.subject-selection-category .form-check {
  padding: 1rem; }

.subject-selection-category .form-check-label {
  display: inline-block;
  margin-left: 1rem; }

.subject-seletion-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  /* background-color: #fff; */ }
