*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --default-font-size: 1.6rem;
    --color-primary: rgb(98, 235, 189);
    --color-black: #000;
    --color-black-light: rgba(0,0,0,.8);
}

html{
    /* font-size: 62.5% | 1rem = 10px */
    font-size: 62.5%; 
}

body{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: var(--default-font-size);
    color: var(--color-black-light);

}

