$color-primary: #064acb;
$color-secondary: #36aad8;
$color-secondary-light: lighten($color-secondary, 45%);


$app-top-height: 7rem;


$color-black: #000;
$color-dark: lighten($color-black, 10%);
$color-mid-dark: lighten($color-black, 40%);
$color-low-dark: lighten($color-black, 60%);
$color-light: lighten($color-black, 90%);

$color-white: #fff;

$default-font-size: 1.6rem;