.text-center{
    text-align: center !important;
}

.mt-8{
    margin-top: 8rem !important;
}
.mb-8{
    margin-bottom: 8rem !important;

    @include respond(tab-port){
        margin-bottom: 5rem !important; 
    }
}
.mb-4{
    margin-bottom: 3.5rem !important;
    
    @include respond(tab-port){
        margin-bottom: 2.5rem !important; 
    }
}
.mb-2{
    margin-bottom: 1.5rem !important;
}

.p2{
    padding: 2rem;
}
.p1-2{
    padding: 1rem 2rem;
}
.bg-gradient{
     background: linear-gradient(to left, $color-primary, $color-secondary) !important;
     color: $color-white;
}

.d-flex-inverse{
    display: flex;
    flex-direction: column;
}

.text-mid-dark{
    color: $color-mid-dark !important;
}.text-low-dark{
    color: $color-low-dark !important;
}