#app{
    position: relative;
}


nav.app-top{
    position: fixed;
    display: block;
    width: 100%;
    height: $app-top-height;
    top: 0;
    left: 0;
    z-index: 3;

    &--white{
        background: $color-white;
        box-shadow: 0  2px 2px rgba(0,0,0,.1);
    }

    &--transparent{
        background: transparent;
    }
}




.app-brand{
    display: block;
    padding: 1rem;
    max-width: 10rem;
    height: 100%;
    margin-left: auto;
    text-align: right;
}

.app-brand .brand-img{
    max-width: 100%;
    height: auto;
}

.content-wrapper{
    display: block;
    margin-top: 2rem;

    &-shift{
    margin-top: 7rem;

    }
   
}

.sidebar{
    width: 30rem;
    //height: calc(100vh - 7rem);
    //margin-top: $app-top-height;
   
    //top: 0;
    //left: 0;
   
    padding: 0;

    &-landing{
        position: fixed;
        height: 80vh;
        top: 50%;
        background-color: #fff;

        box-shadow: 2px 0 2px rgba(0,0,0,.15);

        left: 0;
        transform: translateY(-50%);
        left: 2.5rem;
        border-radius: 8px;
        //box-shadow: 1rem 2rem 4rem rgba($color-primary, .15);
        padding:0 0 2rem 0;
        margin-top: 0 !important;
    }
   &-header{
        padding: 2rem ;
        text-align: center;

        .sidebar-title{
            font-size: 1.8rem;
            color: $color-dark;
            font-weight: 400;

        }
    }
    &-menu{
       padding: 0;

        ul li a{
            padding: 2rem;
            color: $color-mid-dark;
            text-transform: capitalize;
            transition: all .3s;
            
            &:hover{
               background-color: $color-secondary-light;

            }

        }
        ul li a.active{
           background-color: $color-secondary-light;
           border-left: 5px solid $color-secondary;
        }
    }
    &-list{
        padding: 0;

        ul li a{
            padding: 1rem 2rem;
            color: $color-mid-dark;

            &:hover{
                font-weight: 500;
            }
        }
    }

    //Sidebar form for landing page

    &-form{
        padding:1.5rem;
        text-align: center;
        margin-bottom: 2rem;
        background: lighten($color-black, 98%);
        border-radius: 8px 8px 0 0;

        .form-control{
            border: 0;
            border-bottom: 1px solid $color-dark;
            padding: 2rem;
            text-align: center;
            background: transparent;

            &:focus,
            &:hover{
                outline: none;
                box-shadow: none;
                border-bottom: 1px solid $color-primary;
            }
        }
    }
}


.back{
    margin-top: 3rem;
}


.main-content{
    padding: 1rem 3rem;

    &-shift{

    margin-left: 32rem;

    }
    
}